@import '../../../css/variables';

.artist-detail-container {
  background-color: $secondary-color;
  color: #ffffff;
  height: 100%;
  padding-bottom: 12vh;

  .title-section {
    padding-left: 12vh;
    padding-right: 12vh;
    padding-top: 12vh;
    color: #ffffff;
  }

  .basic-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6vh 12vh;

    .artist-img {
      height: 40vh;
      border-radius: 50%;
    }

    .artist-info {
      padding: 3vw;
      .artist-name {
        font-size: 2.5rem;
      }
    }
  }

  .top-tracks {
    .top-track-table {
      padding: 0 12vh;

      .ant-table-header-column {
        color: $font-color;
      }
      .ant-table-body {
        color: $font-color;
        .ant-table-row {
          &:hover {
            background: $primary-color;
          }
        }
      }
    }
  }

  .related-artist {
    .related-artists-container {
      padding: 0 6vh;
    }
  }
}
