@import '../../css/variables';

.layout-container {
  color: $font-color;
  .main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .app-header {
      background-color: $primary-color;
      display: flex;
      justify-content: space-between;

      .header-logo {
        height: 4vh;
      }
    }

    .content {
      color: #000000;
      flex: 1;
    }

    .app-footer {
      background-color: $primary-color;
      color: #ffffff;

      .footer-logo {
        height: 4vh;
      }

      .main-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 3vh;

          .info-title {
            color: #99958a;
            font-weight: 900;
            align-self: flex-start;
          }
        }
      }
      .additional-link-container {
        margin-top: 5vh;
        width: 100%;
        .addition-link {
          color: $font-color;
          margin-right: 1vw;
        }
      }
    }
  }
}
