@import '../../../css/variables';

.user-detail-container {
  color: $font-color;
  background-color: $secondary-color;

  .section {
    margin: 6vh 12vh 0 12vh;

    .ant-descriptions-row {
      border-bottom: 1px transparent solid;
      transition: all 0.2s ease-in-out;
      .ant-descriptions-item-label {
        font-weight: 600;
        color: $font-color;
      }
      .ant-descriptions-item-content {
        color: $font-color;
      }

      &:hover {
        background-color: $primary-color;
        border-bottom: 1px $accent-color solid;
      }
    }
  }
  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .display-name {
      font-size: 2rem;
    }
  }
}
