@import '../../../css/variables';

.user-detail-container {
  color: $font-color;
  background-color: $secondary-color;

  .section {
    margin: 6vh 12vh 0 12vh;
  }
  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .display-name {
      font-size: 2rem;
    }
  }
}

.test {
  color: $font-color;
}
