@import '../../../css/variables';

.search-bar-container {
  width: 89%;
  .ant-input-search-button {
    background-color: $accent-color;
  }

  .ant-btn-primary {
    border-color: $accent-color;
    &:hover {
      background-color: $dark-accent-color;
    }
  }
}
