.item-card-container {
  display: inline-block;

  .image {
    height: 35vh;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .adaptive-text {
      overflow: hidden;
      max-width: 25vh;
      position: relative;
      white-space: nowrap;
    }
  }
}
