@import '../../../css/variables';

.genres-container {
  width: 100%;
  display: flex;
  .title {
    margin-right: 1vw;
  }
  .genre {
    margin: 0 1vh;
    font-style: italic;
    color: $dark-accent-color;
  }
}
