@import '../../css/variables';

.hover-card-container {
  .hover-card {
    position: fixed;
    right: 0;
    border: 1px $dark-accent-color solid;
    color: $font-color;
    background-color: $secondary-color;
  }
}
