@import '../../../css/variables';

.track-item {
  width: 100%;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.2s ease-in-out;
  border: 1px transparent solid;

  &:hover {
    background-color: $primary-color;
    border-bottom: 1px $dark-accent-color solid;
    border-top: 1px $dark-accent-color solid;
  }
}
