@import '../../../css/variables';

.album-detail-container {
  background-color: $secondary-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  .main-panel {
    width: 100%;
    padding: 0 45vh;
    .carousel-img {
      height: 40vh;
    }
  }

  .detail-container {
    margin-top: 5.5vh;
  }
}
