@import '../../../css/variables';

.album-detail-container {
  background-color: $secondary-color;
  color: $font-color;

  height: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;

  .main-panel {
    width: 100%;
    padding: 0 45vh;
    .carousel-img {
      height: 40vh;
    }
  }

  .tracklist-panel {
    width: 100%;
    margin-top: 10vh;
  }
  .detail-container {
    margin-top: 5.5vh;
  }
}

.loading-spinner {
  height: 100%;
}
